#root {
  padding: 8px 8px 8px 8px;
}
body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  height: 100vh;
  display: grid;
  align-items: center;
}

.formInput:hover {
  border-color: #007bff;
}

.btn-delete {
  height: 40px;
}

.contentCard {
  min-height: 400px;
}

.todoCard {
  min-height: 300px;
}

.todoTable {
  min-height: 300px;
}

@media screen and (min-width: 768px) {
  .contentCard {
    width: 600px;
  }
}
